<div class="px-2 mx-3 mt-3">
  <div class="card border border-primary " style="width: 18rem;">
    <img src="<?= $img; ?>" class="card-img-top" alt="...">
    <div class="card-body ">
      <div class="text-primary">
        <h1 class="card-title ">
          <?= $name; ?>
        </h1>
        <p class="card-text "> <b> Altura: </b>
          <?= $height; ?>
        </p>
        <p class="card-text"><b> Peso: </b>
          <?= $weight; ?>
        </p>
        <p class="card-text"><b> Doce:</b>
          <?= $candy; ?>
        </p>
      </div>
      <a href="#" class="btn btn-info mt-3">Saiba + </a>
    </div>
  </div>
</div>